@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --color-gray: rgba(236, 234, 234, 0.555);
    --font-kanit: "Kanit", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

i:hover{
    color: gray;
    cursor: pointer;
}

body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5rem;
    padding: 3rem;
}

header{
    grid-column: 2/3;
}

.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 620px;
    height: 160px;
    background: var(--color-gray);
    border-radius: 14px;
    padding: 1rem;
    font-family: var(--font-kanit);
}

.title-josh{
    font-size: 2rem;
}

.flex-iqz > p{
    font-weight: 350;
}

.flex-der-image{
    margin-top: -25px;
    margin-left: -250px;
}
/* Empenzando la creacion de la seccion course */

.course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1.5rem;
    width: 620px;
    height: 80px;
    background-color: var(--color-gray);
    font-family: var(--font-kanit);
    border-radius: 1rem;
}

.spain{
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.Spanish-b2{
    display: flex;
}

.parrafo-course{
    font-size: 16px;
    font-weight: 300;
}

.arrows{
    border: none;
    background: none;
    margin-top: 3rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
}

.arrows:hover{
    cursor: pointer;
    background: gray;
}

.icon-spain{
    width: 32px;
    height: 32px;
}

.text-black{
    font-family: var(--font-kanit);
    font-weight: bold;
}

.grafico-circular {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.porcentaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #000;
}

/* Comienzo de course section */
.course-section{
    margin-top: 2.5rem;
    font-family: var(--font-kanit);
    
}

.container-subtitle{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.subtitle-courses-section-active{
    color: black;
}

.subtitle-courses-section{
    color: rgba(128, 128, 128, 0.397);
}

.learn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 620px;
    height: 80px;
    border-radius: 1rem;
    background-color: var(--color-gray);
}

.course-img{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem ;
}

.paragraph{
    font-size: 16px;
    font-weight: 300;
}

/* Comienzo del nav-bar */

.nav-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-left: 10rem;
    width: 132px;
    background-color: black;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 20px 26px 25px rgba(0, 0, 0, 0.4);
}

.p-f{
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.icons-center{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation{
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 2rem;
}

.go-premiun-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
    font-family: var(--font-kanit);
    background-color: var(--color-gray);
    border-radius: 1rem;
    width: 440px;
    height: 193px;
}

.inside-go-premiun-banner{
    padding-left: 1rem;
}

.h2-premiun-banner{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.p-premiun-banner{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.boton-go-premiun{
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-family: "Kanit", sans-serif;
    transition: all 0.3s ease-in-out;
}

.boton-go-premiun:hover{
    cursor: pointer;
    color: gray;
}

/* Finalizando la section go premiun banner */

.boton{
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: "Kanit", sans-serif;
    transition: all 0.3s ease-in-out;
}

.boton:hover{
    cursor: pointer;
    color: gray;
}

.brain-book{
    margin-left: 3rem;
}
