@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --color-gray: rgba(236, 234, 234, 0.555);
    --font-Baloo-Bhai: "Baloo Bhai 2", sans-serif;
    --font-Roboto:"Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

i:hover{
    color: gray;
    cursor: pointer;
}

body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5rem;
    padding: 3rem;
}

header{
    grid-column: 2/3;
}

.cabezera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    background: var(--color-gray);
    border-radius: 14px;
    padding: 1rem;
    font-family: var(--font-Baloo-Bhai);
}

.title-josh{
    font-size: 36px;
    font-weight: bold;
}

.flex-iqz > p{
    font-family: var(--font-Roboto);
    font-weight: 400;
}

.flex-der-image{
    margin-top: -25px;
    margin-left: -250px;
}
/* Empenzando la creacion de la seccion course */

.course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1.5rem;
    width: 620px;
    height: 80px;
    background-color: var(--color-gray);
    font-family: var(--font-Baloo-Bhai);
    border-radius: 1rem;
}

.spain{
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.Spanish-b2{
    display: flex;
}

.parrafo-course{
    font-size: 15px;
    font-weight: 400;
}

.arrows{
    border: none;
    background: none;
    margin-top: 3rem;
    margin-left: 1rem;
    transition: all 0.3s ease-in-out;
}

.arrows:hover{
    cursor: pointer;
    background: gray;
}

.icon-spain{
    width: 32px;
    height: 32px;
}

.text-black{
    font-size: 1rem;
    font-family: var(--font-Baloo-Bhai);
    font-weight: bold;
}

/* Diseño de mi barra de progreso circular */

.contenedor {
    background-color: transparent;
    height: 250px;
    width: 150px;
    position: relative;
    border-radius: 5px;
    margin: 100px auto;
  }
  .svg {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    left: 50px;
    top: 127px;
  }
  .box_percentage {
    height: 100px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 100px;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .percentage {
    font-family: var(--font-Baloo-Bhai);
    font-size: 1rem;
    color:black;
  }
  .progress2{
    fill: none;
    stroke-width: 4;
    stroke: rgb(233, 233, 233);
   }
  .progress {
    fill: none;
    stroke-width: 4;
    stroke: black;
    transform: rotate(-360deg);
    transform-origin: center;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
  }

/* Comienzo de course section */
.course-section{
    margin-top: 2.5rem;
    font-family: var(--font-Baloo-Bhai);
    
}

.title-course{
    font-family: var(--font-Baloo-Bhai);
    font-size: 2rem;
    font-weight: bold;
}

.container-subtitle{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}


.subtitle-courses-section-active{
    color: black;
}

.subtitle-courses-section{
    color: rgba(128, 128, 128, 0.397);
}

.learn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 100%;
    height: 80px;
    border-radius: 1rem;
    background-color: var(--color-gray);
}

.course-img{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem ;
}

.title{
    font-family: var(--font-Baloo-Bhai);
    font-weight: bold;
    font-size: 1.2rem;
}

.paragraph{
    font-family: var(--font-Roboto);
    font-size: 13px;
    font-weight: 500;
}

/* Comienzo del nav-bar */

.nav-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-left: 10rem;
    width: 132px;
    background-color: black;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 20px 26px 25px rgba(0, 0, 0, 0.4);
}

.p-f{
    font-family: var(--font-Baloo-Bhai);
    color: white;
    font-size: 64px;
    font-weight: bold;
}

.icons-center{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation{
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 2rem;
}
/* Comienzo del search box*/

.search-container{
    display: flex;
    justify-content: space-between;
}
.search-box{
    display: flex;
    align-items: center;
}

.input-box{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    text-align: right;
    direction: rtl; /* Cambia la dirección de escritura a derecha a izquierda */
    unicode-bidi: embed; /* Controla la dirección del cursor */
}
.icon{
    margin-left: -18rem;
}
.bi-search{
    color: #000;
}

.notification-bell {
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    margin-right: -18rem;
}
  
.notification-bell .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
}
  
.notification-bell:hover {
    animation: moveBell 0.5s ease-in-out forwards;
}

.bi-bell{
    color: black;
}

.profile-image{
    margin-top: 0.8rem;
    width: 55.19px;
    height: 40px;
}

@keyframes moveBell {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
/* Finalizando el search box */
/* Comenzando stats boxes */
.stats-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-left{
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 208px;
    height: 96.33px;
    border-radius: 14px;
    background-color: var(--color-gray);
    
}

.grid-right{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 96.33px;
    border-radius: 14px;
    background-color: var(--color-gray);
    
}

.paragraph-grid{
    font-family: var(--font-Roboto);
    font-size: 1rem;
    font-weight: 400;
}

.eleven-grid, .four-grid{
    font-family: var(--font-Baloo-Bhai);
    font-size: 4rem;
    font-weight: bold;
}

/* finalizando stats boxes */

/* Comenzando con los graficos*/
.title-statistics{
    margin-top: 1.2rem;
    font-family: var(--font-Baloo-Bhai);
    font-size: 2rem;
    font-weight: bold;
}

.container-subtitle-statistics{
    display: flex;
    gap: 1.3rem;
    margin-top: 1rem;
}

.subtitle-statistics-section-active{
    font-family: var(--font-Baloo-Bhai);
    color: black;
}

.subtitle-statistics-section{
    font-family: var(--font-Baloo-Bhai);
    color: rgba(128, 128, 128, 0.397);
}

.list-statistics{
    width: 88px;
    height: 32px;
    margin-left: 8.5rem;
    border-radius: 8px;
    background-color: var(--color-gray);
    font-family: var(--font-Roboto);
    text-align: center;
    font-weight: bold;
    font-family: 18px;
}

/* Finalizando los graficos */

/* Comienzo de la seccion go- premiun */
.go-premiun-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
    font-family: var(--font-Baloo-Bhai);
    background-color: var(--color-gray);
    border-radius: 1rem;
    width: 440px;
    height: 193px;
}

.inside-go-premiun-banner{
    padding-left: 1rem;
}

.h2-premiun-banner{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.p-premiun-banner{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

.boton-go-premiun{
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    margin-top: 1.5rem;
    font-family: var(--font-Baloo-Bhai);
    transition: all 0.3s ease-in-out;
}

.boton-go-premiun:hover{
    cursor: pointer;
    color: gray;
}

/* Finalizando la section go premiun banner */

.boton{
    width: 120px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: var(--font-Baloo-Bhai);
    transition: all 0.3s ease-in-out;
}

.boton:hover{
    cursor: pointer;
    color: gray;
}

.brain-book{
    margin-left: 3rem;
}
